<header>
  <!-- navigation -->
  <nav class='navbar navbar-light bg-light'>
    <div class='container'>
      <a class='navbar-brand' href='/'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png'
          width='30'
          height='30'
          class='d-inline-block align-top'
          alt='我的餐廳清單'
        />
        我的餐廳清單
      </a>
      <div class='d-flex align-items-center'>
        <span class='navbar-brand me-3' style='cursor: default'>
          Welcome,
          {{user.name}}
        </span>
        <a href='/create'><img
            id='add-restaurant'
            src='/imgs/add.png'
            alt='add-new-restaurant'
            title='新增餐廳'
          />
        </a>
      </div>
    </div>

  </nav>
  <div class='banner'></div>
</header>