<header>
  <!-- navigation -->
  <nav class='navbar navbar-light bg-light'>
    <div class='container'>
      <a class='navbar-brand' href='/restaurants'>
        <img
          src='https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/6227/restaurant-list-logo.png'
          width='30'
          height='30'
          class='d-inline-block align-top'
          alt='我的餐廳清單'
        />
        我的餐廳清單
      </a>
      <form
        class='d-flex align-items-center my-auto'
        action='/users/logout'
        method='POST'
      >
        <span class='navbar-brand me-3' style='cursor: default'>
          Welcome,
          {{user.name}}
        </span>
        <button class='btn btn-outline-primary' type='submit'>
          登出
        </button>
      </form>
    </div>

  </nav>
  <div class='banner'></div>
</header>